@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #111;
    color: #ffff;
    z-index: 2;

}

.showcase.active{
    right:300px;

}

.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url('hamburger.jpg');
    background-repeat: no-repeat;
    background-size: 30px;
    background position: center;
    cursor: pointer;
}

.toggle.active{
    background: url('close.jpg');
    background-repeat: no-repeat;
    background-size: 25px;
    background position: center;
}

.showcase .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}


.text{
    position: relative;
    z-index: 10;
}

.text h2{
    font-size: 5em;
    line-height: 1em;
    text-transform: uppercase;
}

.text h2{
    font-size: 4em;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    max-width: 700px;

}

.text a {
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 25px;
    color: #000;

}

.menu ul li a:hover {
    color: blue;
}

@media(max-width="991px") {
    .showcase .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h2 {
        font-size: 2em;
    }

}

